# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Streamlit
.streamlit/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment Variables
.env
.env.local

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/
